<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <h2 th:text="'Hello, ' + ${username} + '!'"/>
    <p><a href="/logout">LogOut</a></p>

    <h2>These are all the products:</h2>

    <table>
        <thead>
            <tr>
                <th>NAME</th>
                <th>PRICE</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${products.empty}">
                <td colspan="2">No Products Available</td>
            </tr>
            <tr th:each="book : ${products}">
                <td><span th:text="${book.name}">NAME</span></td>
                <td><span th:text="${book.price}">PRICE</span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>